.primary {
    color: tan;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.largeText {
    font-size: 45px;
}

.navBtn {
    font-size: 25px;
}