.primary {
    color: tan;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.largeText {
    font-size: 45px;
}

.navBtn {
    font-size: 25px;
}

.border {
    border-color: tan;
    
}

.errors {
        color: slategrey;
        padding-top: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;  
        font-size: 50px;
}

.btn {
    color: tan;
}

.logout {
   color: white;
}